@model UserInfo
@{
    ViewData["Title"] = "UserInfo";
}

<h1>Guess Word!</h1>

<form asp-controller="Game" asp-action="RegisterUser" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="NumberOfRounds"></label>
        <input asp-for="NumberOfRounds" />
        <span asp-validation-for="NumberOfRounds"></span>
    </div>

    <input type="submit" value="Let's Play!" />

</form>

