@model WordGuessGame
@{
    ViewData["Title"] = "WinningMessage";
    int score = Convert.ToInt32(ViewData["score"]);
}

<div class="end-round-page">
    <h1>Correct!</h1>
    <h3>Total score: @score</h3>
    <h3>The word was: @WordGuessGame.Word</h3>

    <form asp-controller="Game" asp-action="EvaluateSession"style="display: inline">
        <input class="continue-button" type="submit" value="Next" />
    </form>

    <form asp-controller="Game" asp-action="ResetSession" style="display: inline">
        <input class="continue-button" type="submit" value="Quit" />
    </form>
</div>
