@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>About the creator</h1><br />

<h5>Caleb Sibert is a junior software developer.</h5>
<p>10WordGuess! is his first published project.</p>
<p>You can connect with him on <a href="www.linkedin.com/in/sibertcs/">LinkedIn</a></p>

<p><strong>Images credit:</strong> Lineartestpilot | Dreamstime.com </p>
